/* table.css */

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #ffffff);
}

.card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
}

.p-datatable {
    border-radius: 0.75rem;
    overflow: hidden;
}

.p-datatable-thead > tr > th {
    background-color: #f9fafb;
    border: 2px solid #e2e8f0; 
    color: #141414;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

.p-datatable-tbody > tr > td {
    padding: 1rem;
    border: 1px solid #e2e8f0;
    font-size: 0.95rem;
    color: #334155;
    background: #f9fafb;
    border-bottom: 1px solid #e2e8f0;
    text-align: center;
}

.p-datatable-tbody > tr:hover {
    background-color: #e0f2fe;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0f172a;
}

.footer-text {
    font-size: 1rem;
    color: #64748b;
    margin-top: 1rem;
    text-align: center;
}

.p-button {
    background-color: #80acf5;
    border: none;
}

.p-button:hover {
    background-color: #2563eb;
}

.p-tag-success {
  
    color: black;
}
.p-tag-warning {

    color: black;
}
.p-tag-danger {
 
    color: black;
}
